* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a3d62;
  color: #fff;

}
.navbar{
  background-image: linear-gradient(90deg,rgb(11, 26, 48),transparent,transparent);
  padding: 12px 5%;

}
.calculator {
 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
 height: 90vh;
}

.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.box {
  width: 310px;
  height: 380px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
 
}
.box button {
  background-color: #0a3d62;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}
.box button:hover{
  background-color: #0a4c7a;

}
.result {
  margin-bottom: 12px;
}
.result {
  display: flex;
}
.result input {
  padding: 14px;
  text-align: right;
  font-size: 18px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #0a3d62;
  color: #fff;
  border-radius: 5px;
}
.clear{
  grid-column: 1/3;
  grid-row: 1;
}
.total{
  grid-column: 3/5;
  grid-row: 5;
}
#handleColor{
  background-color: #60a3bc;
  color: #000;
}
#handleColor:hover{
  background-color: #5493aa;
  color: #000;
}